body {
  min-height: 100%;
}
.sidebar{
  padding-left:0;
}
.sidebar>ul.nav{
  height: 100%;
  border-right: 1px solid lightgrey;
  background: #eee;
}
.sidebar>ul.nav>li{
  font-size: larger
}
.sidebar>ul.nav>li>a:hover{
	background:#e0e0e0;
	color:darkslategray;
}

a.delete>i{
	color:#d9534f;
}
.form-signin{
	margin-top: 15em;
}
.alert.alert-dismissible {
    position: absolute;
    top: 5px;
    left: -10px;
}
.material-icons{
	vertical-align: bottom;
}
