/*!
 * Start CAMS - Blog Template
 * Copyright 2017 Camape
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
footer {
    margin: 50px 0;
}

/*CUSTOMIZE YOUR BLOG INDEX HERE*/
.form-control:focus{
	border-color:#449348;
}
a{
	color:#449348;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
a:hover{
	color:#55c65b;
	text-decoration-line: none;
}
.blogNavigator{
	background-color:#f5f5f5;;
	border-color:#e3e3e3;;
}
.blogMenu>li>.menuOption{
	
}
.blogMenu>li>.menuOption:hover{
	color:#f5f5f5;
}
.articleTitle{}
.articleDate{
	color: grey;
}
.articleImage{
	width:100%;
	background-size: contain;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.articleImage:hover{
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	transform: scale(1.01)
}
.articleReadMore{
  float:right;
  position: relative;
  top:-3em;
	background-color:#449348;
	border-color:#55c65b;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.articleReadMore:hover{
	background-color:#55c65b;
	border-color:#449348;
}
.articleReadMore:active{
	background-color:#55c65b;
	border-color:#449348;
}
.articleContent{
	text-align:justify;
}
.articleContent>img{

}
.widgetRandomPost{
}
.widgetRandomPostImage{

}
.blogCategoryChild{
  margin-left: 1em;
}

.material-icons{
	vertical-align: bottom;
}
